@model IEnumerable<UsersViewModel>

@{
    ViewData["Title"] = "Users";
}

@section Styles {
    <link href="~/assets/plugins/datatables/datatables.bundle.css" rel="stylesheet" />
}

<div class="card shadow-sm">
    <div class="card-header">
        <h3 class="card-title">
            <div class="symbol symbol-40px me-4">
                <div class="symbol-label fs-2 fw-semibold text-success">
                    <!--begin::Svg Icon | path: icons/duotune/general/gen002.svg-->
                    <span class="svg-icon svg-icon-2 svg-icon-primary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="800px" height="800px" viewBox="0 0 24 24" fill="currentColor">
                            <path d="M13 20V18C13 15.2386 10.7614 13 8 13C5.23858 13 3 15.2386 3 18V20H13ZM13 20H21V19C21 16.0545 18.7614 14 16 14C14.5867 14 13.3103 14.6255 12.4009 15.6311M11 7C11 8.65685 9.65685 10 8 10C6.34315 10 5 8.65685 5 7C5 5.34315 6.34315 4 8 4C9.65685 4 11 5.34315 11 7ZM18 9C18 10.1046 17.1046 11 16 11C14.8954 11 14 10.1046 14 9C14 7.89543 14.8954 7 16 7C17.1046 7 18 7.89543 18 9Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </span>
                    <!--end::Svg Icon-->
                </div>
            </div>
            Users
        </h3>
        <div class="card-toolbar">
            <a asp-controller="Users" asp-action="Create" class="btn btn-sm btn-primary">
                <i class="bi bi-plus-square-dotted"></i>
                Add
            </a>
        </div>
    </div>
    <div class="card-body">
            <div class="table-responsive">
                <table class="table table-row-dashed table-row-gray-300 gy-7">
                    <thead>
                        <tr class="fw-bold fs-6 text-gray-800">
                            <th>Full Name</th>
                            <th>User Name</th>
                            <th>Email</th>
                            <th>Status</th>
                            <th>Created On</th>
                            <th>Last Updated On</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model)
                        {
                            <tr>
                                <td>@user.FullName</td>
                                <td>@user.UserName</td>
                                <td>@user.Email</td>
                                <td>
                                    <span class="badge badge-light-@(user.IsDeleted ? "danger" : "success") js-status">
                                        @(user.IsDeleted ? "Deleted" : "Available")
                                    </span>
                                </td>
                                <td>@user.CreatedAt</td>
                                <td class="js-updated-on">@user.UpdatedAt</td>
                                <td>
                                    <button type="button" class="btn btn-sm btn-icon btn-color-primary btn-active-light-primary" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
                                        <!--begin::Svg Icon | path: icons/duotune/general/gen024.svg-->
                                        <span class="svg-icon svg-icon-2">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24">
                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                    <rect x="5" y="5" width="5" height="5" rx="1" fill="currentColor"></rect>
                                                    <rect x="14" y="5" width="5" height="5" rx="1" fill="currentColor" opacity="0.3"></rect>
                                                    <rect x="5" y="14" width="5" height="5" rx="1" fill="currentColor" opacity="0.3"></rect>
                                                    <rect x="14" y="14" width="5" height="5" rx="1" fill="currentColor" opacity="0.3"></rect>
                                                </g>
                                            </svg>
                                        </span>
                                        <!--end::Svg Icon-->
                                    </button>
                                    <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg-light-primary fw-semibold w-200px py-3" data-kt-menu="true" style="">
                                        <!--begin::Menu item-->
                                        <div class="menu-item px-3">
                                            <a asp-controller="Users" asp-action="Edit" asp-route-Id="@user.Id" class="menu-link px-3 js-render-modal">
                                                Edit
                                            </a>
                                        </div>
                                        <!--end::Menu item-->
                                        <!--begin::Menu item-->
                                        <div class="menu-item px-3">
                                            <a href="javascript:;" class="menu-link flex-stack px-3 js-toggle-status" data-id="@user.Id">
                                                Toggle Status
                                            </a>
                                        </div>
                                        <!--end::Menu item-->
                                    <!--begin::Menu item-->
                                    <div class="menu-item px-3">
                                        <a asp-controller="Users" asp-action="ResetPassword" asp-route-Id="@user.Id" class="menu-link px-3 js-render-modal">
                                            Reset Password
                                        </a>
                                    </div>
                                        <div class="menu-item px-3">
                                            <a asp-controller="Users" asp-action="UnlockAccount" asp-route-Id="@user.Id" class="menu-link px-3 js-render-modal">
                                                Unlock Account
                                            </a>
                                        </div>
                                    
                                    <!--end::Menu item-->
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
    </div>
</div>

@section Plugins {
    <script src="~/assets/plugins/datatables/datatables.bundle.js"></script>
}

@section Scripts {
    <script>
        $(document).ready(function () {
            $('table').DataTable();

            $('.js-toggle-status').on('click', function () {
                var btn = $(this);

                bootbox.confirm({
                    message: "are you sure you want to toggle this item?",
                    buttons: {
                        confirm: {
                            label: 'Yes',
                            className: 'btn-danger'
                        },
                        cancel: {
                            label: 'No',
                            className: 'btn-secondary'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            $.post({
                                url: '/Users/ToggleStatus/' + btn.data('id'),
                                success: function (UpdatedAt) {
                                    var row = btn.parents('tr');
                                    var status = row.find('.js-status');
                                    var newStatus = status.text().trim() === 'Deleted' ? 'Available' : 'Deleted';
                                    status.text(newStatus).toggleClass('badge-light-success badge-light-danger');
                                    row.addClass('animate__animated animate__flash');

                                    Swal.fire({
                                        icon: 'success',
                                        title: 'Success',
                                        text: 'Saved Successfully'
                                    });
                                },
                                error: function () {
                                    Swal.fire({
                                        icon: 'error',
                                        title: 'Oops...',
                                        text: 'Something went wrong'
                                    });
                                }
                            });
                        }
                    }
                });
            });
        });
    </script>

}